/*custom fonts - Bitter, Montserrat*/
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
/*basic reset*/
* {
  padding: 0;
  margin: 0;
  font-family: Bitter, Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: Bitter, Helvetica;
}

h2 {
  font: normal 2em;
  text-align: center;
  padding: 0;
  margin: 5px 0;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 2px 0;
}

h4 {
  font-size: 0.5em;
  font-weight: 200;
  text-align: center;
  margin: 2px 0;
  color: #569D1A;
  box-shadow: 3px 3px 3px #333;
  background-color: #e4ff85;
  display: block;
}

.message-box {
  border: 4px outset #98BF21;
  background-color: #d4f375;
  max-width: 500px;
  max-height: 100%;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
}

ol {
  border: 4px outset #98BF21;
  background-color: #d4f375;
  max-width: 280px;
  max-height: 100%;
  text-align: center;
  margin: 5px auto;
  border-radius: 4px;
  opacity: 0.9;
}

li {
  border: 3px ridge #98BF21;
  height: 55px;
  width: 150px;
  background-color: #a8dF41;
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin: 10px auto;
  box-shadow: 3px 3px 3px #333;
}

.glyphicon {
  color: #fff;
}

#maze {
  border-collapse: collapse;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 10px auto 0;
}

#maze td {
  width: 33px;
  height: 33px;
}

#finish {
  position: absolute;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 3em;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 4;
}

.hidden {
  display: none;
}

.wall-top {
  border-top: 5px outset #fff !important;
}

.wall-left {
  border-left: 5px outset #fff !important;
}

.wall-right {
  border-right: 5px outset #fff !important;
}

.wall-bottom {
  border-bottom: 5px outset #fff !important;
}

#entrance, #exit {
/*  float: left;*/
  position: relative;
  height: 30px;
  width: 30px;
  text-align: center;
}

.entrance {
  background-color: #d8262c;
  border: 3px ridge #b8060c;
}

.exit {
  background-color: #76bd3a;
  border: 3px ridge #569d1a;
}

.player, .ai {
  background-image: url('../resources/link.png');
  background-repeat: no-repeat;
  background-size: 300px 250px;
  z-index: 2;
}

.player-down {
  background-position: 0 -3px;
}

.player-left {
  background-position: 0 -34px;
}

.player-up {
  background-position: 0 -64px;
}

.player-right {
  background-position: 0 -95px;
}

#play-again {
  -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
  background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
  background-color:#7d5d3b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:26px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #4d3534;
}
#play-again:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
  background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
  background-color:#634b30;
}
#play-again:active {
  position:relative;
  top:1px;
}

